{{- $v := . }}
{{- $teams := keys $v.teamConfig }}
cluster:
  domainSuffix: {{ $v.cluster.domainSuffix }}
teamConfig:
  {{- range $teamId, $team := $v.teamConfig }}
    {{ $teamId }}:
      selfService:
        apps: {{ $team | get "selfService.apps" list}}
  {{- end }}
