{{- $v := .Values }}
{{- $cnpg := $v.apps.cnpg }}
{{- $kdb := $v.databases.keycloak }}

name: keycloak-db
storage:
  size: {{ $kdb.size }}

clusterSpec:  
  bootstrap:
    initdb:
      database: keycloak
      owner: keycloak
      localeCollate: 'en_US.UTF-8'
      localeCType: 'en_US.UTF-8'

instances: {{ $kdb.replicas }}

resources: {{- toYaml $kdb.resources | nindent 6 }}